*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav{
    width: 99%;
    height: 70px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    font-family: "DM Sans", sans-serif;
}
nav > ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
nav > ul > li > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
    font-size: 0.9rem;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-details{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 15px;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    
}
.contact-details a:link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.contact-details a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.hero-section{
    width: 100%;
    height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero-section::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(Images/wallpaperflare.com_wallpaper\ \(38\).jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(146, 146, 146);
    background-blend-mode: darken;
    z-index: -1;
}
.text{
    text-align: center;
    line-height: 1;
    font-size: 4rem;
    color: white;
    font-family: "DM Sans", sans-serif;
}
.text button{
    background-color: rgb(9, 82, 9);
    padding: 15px 30px;
    color: white;
    border: 1px dotted white;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
}
.text button:hover{
    background-color: rgb(4, 31, 4);
    cursor: pointer;
}

@media only screen and (max-width: 430px){
    nav{
        width: 100%;
        flex-direction: column;
    }
}
@media only screen and (max-width: 430px){
    .text > p{
        width: 100%;
       font-size: 3rem;
    }
}
@media only screen and (max-width: 430px){
    .hero-section{
        width: 100%;
    }
}
.sub-heading{
    text-align: center;
    font-family: "DM Sans", sans-serif;
    margin-top: 50px;
    line-height: 1.7;
}
.sub-heading1{
    font-size: .8rem;
}
.sub-heading2{
    font-size: 3.7rem;
}
.line{
    width: 10%;
    margin: auto;
    border-bottom: 3px solid #2d6a4f;
    margin-bottom: 40px;
}
.container{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
}
.panel {
    text-align: left;
    font-family: "DM Sans", sans-serif;
}
.panel img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
    
}
.panel h1 p{
    width: 100%;
    text-align: center;
   

}
@media only screen and (max-width: 430px){
    .container{
        width: 100%;
        flex-direction: column;
    }
}
@media only screen and (max-width: 430px){
    .panel{
        width: 50%;
       font-size: 1rem;
    }
}
@media only screen and (max-width: 430px){
    .sub-heading2{
        width: 50%;
       font-size: 2rem;
    }
}

.testimonial{
    text-align: center;
    /* border: 1px solid; */
    width: 100%;
    height: 500px;
    background-color: #d2ffce;
    padding: 20px;
    margin-top: 90px;
    margin-bottom: 90px;
    font-family: "DM Sans", sans-serif;
}
.quote p {
    font-size: 2rem;
    color: #000000;
    margin-top: 20px;
}
.quote button{
    margin-top: 10px;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px black solid;
}
.quote button:hover{
    color: white;
    border: none;
    background-color: #2d6a4f;
}
.client-info .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
}
@media (max-width: 616px){
    .testimonial{
        width: 100%;
        flex-direction: column;
    }
}
@media (max-width:616px){
    .client-info{
        width: 100%;
       font-size: 1rem;
    }
}
@media (max-width: 616px){
    .quote{
        width: 100%;
        font-size: .5rem;
    }
}
@media (max-width: 616px){
    .quote button{
        width: 50%;
       font-size: .5rem;
    }
}

.host-profile{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    gap: 30px;
    flex-wrap: wrap;
}
.host-image{
    text-align: center;

}
.host-image img{
    margin: auto;
    width: 100%;
    height: 500px;
    border-radius: 5px;
}
.about-owner{
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    text-align: left;
    margin-top: 20px;
}
.about-owner-heading{
    font-size: small;

}
.about-owner-second-heading{
    margin-top: 20px;
    font-size: 2.4rem;
}
.about-owner-third-heading{
    margin-top: 30px;
    font-size: 1.5rem;
}
.about-owner > button{
    font-size: 0.6em;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: transparent;
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 9px;
    cursor: pointer;
}
.about-owner > button:hover{
    background-color: #20694b;
    border: none;
    
}
.host-image h3{
    margin-top: 10px;
    font-size: 1.5em;
    
   
    
}
.host-image p{
    /* margin-top: 10px; */
    font-size: 1.5em;
    
    
}
.bold-text{
    font-weight: bold;
}

@media (max-width: 616px){
    .host-profile{
        width: 100%;
        flex-direction: column;
    }
}
/* @media (max-width: 616px){
    .host-image{
        width: 100%;
       font-size: 1rem;
    }
} */
@media (max-width: 616px){
    .host-profile h3{
        width: 100%;
        font-size: 5rem;
    }
}


/* .bottom-text{
    text-align: center;
    line-height: 1.3;
    margin-top: 100px;
    /* margin-bottom: 0px; */

.bottom-section{
    margin-top: 50px;
        width: 100%;
        height: 650px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
}
.bottom-section::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(Images/wallpaperflare.com_wallpaper\ \(38\).jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-color: rgb(146, 146, 146);
        background-blend-mode: darken;
        z-index: -1;
}
.bottom-text{
        text-align: center;
        line-height: 1;
        font-size: 4rem;
        color: white;
        font-family: "DM Sans", sans-serif;
        /* line-height: 1; */
}
.bottom-text> p{
    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
    color: white;
}
.bottom-text > button{
    font-size: 1rem;
    margin-top: 20px;
    padding: 15px 40px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 9px;
    cursor: pointer;
}
.bottom-text button:hover{
    background-color: #20694b;
    border: none;
}
footer{
    width: 90%;
    margin: 40px auto 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", sans-serif;
}

.link{
    display: flex;
    gap: 20px;
    color: black;
    text-decoration: none;
    font-size: 1rem;
}
.link a{
    color: black;
    text-decoration: none;
}
.link:hover{
    color: black;
    text-decoration: none;

}
.footer-image img{
    width: 60px;
    height: 60px;
}
@media (max-width: 848){
    .footer{
        width: 100%;
        flex-direction: column;
    }
}